# Common Build Folders
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Rr]elWithDebugInfo/
cmake-build-*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
.vscode/
.vs/
.idea/

# User Files
CMakeUserPresets.json

*.swp
space_invaders
